<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
        <meta name="robots" content="noindex, nofollow">    
        <meta name="author" content="Jan Matoušek - jan.matousek@webolution.cz">   
        <meta name="keywords" content="redakční systém, webolution, cms, správa webu"> 
        <meta name="description" content="Vývojová verze nového redakčního webu WEBOLUTION"> 
        <title>Chuck Norris</title>
        
        <link rel="canonical" href="{$baseUrl}" /> 
        <link rel="alternate" href="{$baseUrl}" hreflang="x-default">
        <link rel="icon" href="./www/favicon.ico" type="image/x-icon">   
      
        <link href="{$baseUrl}/www/css/default.css" rel="stylesheet"> 
        <script src="{$baseUrl}/www/js/default.js"></script>
  
    </head>
    <body> 

        
        <header>
            <div class="container">

                <h1>Chuck Norris</h1>

                <nav>
                    <div class="container">
                        <ul>
                            <li>
                                <a n:href="randomJoke!">Random joke!</a>
                            </li>
                            <li>
                                <a n:href="jokesByInitials!">Only from authors with same initials!</a>
                            </li>  
                            <li>
                                <a n:href="jokesByValid!">Only valid ones</a>
                            </li>   
                            <li>
                                <a n:href="jokesByTime!">+/- 1 month</a>
                            </li>      
                            <li>
                                <a n:href="jokesByCalc!">Valid calculation</a>
                            </li>          
                        </ul>          
                    </div> 
                </nav>   

            </div>
        </header>

    

        {ifset $jokes} 
            {if count($jokes)}

                <section id="listJokes">
                    <div class="container">
 
                        <h2>List of <b>{$listTitle}</b> ({count($jokes)}):</h2>

                        {foreach $jokes as $joke}
                            <article>
                                <h3>{$joke[joke]}</h3>
                                <div class="flex flex-row justify-start gap-12">
                                    <i>Author: {$joke[name]}</i>
                                    <i>Created At: {$joke[createdAt]}</i>
                                    <i>{$joke[firstNumber]} / {$joke[secondNumber]} = {$joke[thirdNumber]}</i>
                                    <i>calculation: {$joke[calculation]}</i>                                                                
                                </div>
                            </article>
                        {/foreach}

                    </div>
                </section>
            {/if}
        {/ifset}
        

        {ifset $randomJoke[joke1]}
            <section class="randomJoke">
                <div class="container">


                    <h2>Random joke:</h2>

                    <figure id="randomJoke">
                        <figcaption class="top-text">
                            {$randomJoke[joke1]|upper}
                        </figcaption>

                        <img src="{$chuckImage}" alt="{$randomJoke[joke]}">

                        <figcaption class="bottom-text">
                            {$randomJoke[joke2]|upper}
                        </figcaption>
                    </figure>

                </div>
            </section>
        {/ifset}
     


    </body>
</html>